$fuente-principal: "Montserrat";
$fuente-secundaria: "Playfair Display";

$color-primario: #ffa423; // Naranja claro (All, Hovers, Iconos)
$color-primario-dark: #e08316; // Naranja oscuro (Visited, Active, Botón Subscribe)
$color-badge-txt: #b57212; // Marrón del texto de decoración
$color-badge-bg: #feeacf; // Fondo cremita de decoración
$color-texto-suave: #5a6573; // Gris para notas y descripciones
$color-borde: #edf2f7; // Gris claro para líneas divisorias