$fuente-principal: "Montserrat";
$fuente-secundaria: "Playfair Display";

$color-primario: #ffa423;
$color-primario-dark: #e08316;
$color-badge-txt: #b57212;
$color-badge-bg: #feeacf;
$color-texto-suave: #5a6573;
$color-borde: #edf2f7;