@use "../variables" as *;
@use "../base" as *;


.tours-hero {
    background-image: url(../assets/isla.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


    .hero-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-style: italic;
        color: white;
        font-size: 2.2rem;
        font-weight: 700;
        letter-spacing: 1px;
        z-index: 1;
        text-align: center;
        padding: 0 15px;
    }
}

.tours-section {
    margin: 40px auto;
    padding: 0 15px;

    h2 {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 30px;
        font-weight: 700;
        color: black;
    }

}

.tours-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tour-card {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0)100%);
        pointer-events: none;
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);

        img {
            transform: scale(1.05);
        }
    }
}

.card-info {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    color: white;

    .destination-title {
        display: block;
        font-family: "Playfair Display", "Georgia", cursive, serif;
        font-size: 1.8rem;
        font-style: italic;
        line-height: 1;
        margin-bottom: 5px;
    }

    .country-title {
        display: block;
        font-size: 0.9rem;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.card-large,
.card-medium,
.card-small {
    height: 280px;
}

/*TABLETS (A partir de 768px)*/
@media (min-width: 768px) {
    .tours-hero {
        height: 30vh;

        h1 {
            font-size: 3rem;
            letter-spacing: 2px;
        }
    }

    .tours-section {
        margin: 50px auto;
        padding: 0 20px;

        h2 {
            font-size: 2rem;
        }
    }

    .tours-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .card-large,
    .card-medium,
    .card-small {
        grid-column: span 1;
        height: 320px;

        .card-info .destination-title {
            font-size: 1.8rem;
        }
    }
}

/*COMPUTADORAS (A partir de 992px)*/
@media (min-width: 992px) {
    .tours-section {
        max-width: 1800px;
        height: 30vh;
        margin: 60px auto;

        h2 {
            font-size: 2.2rem;
            margin-bottom: 40px;
        }
    }

    .tours-grid {
        grid-template-columns: repeat(6, 1fr);
    }

    .card-info {
        .destination-title {
            font-size: 2.2rem;
        }

        .country-title {
            font-size: 1.1rem;
            letter-spacing: 3px;
        }
    }

    .card-large {
        grid-column: span 3;
        height: 450;
    }

    .card-small {
        grid-column: span 2;
        height: 280px;

        .destination-title {
            font-size: 1.6rem;
        }
    }

    .card-medium {
        grid-column: span 3;
        height: 350px;
    }
}